@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

*{
    background-color:#000;
}

a.home {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.5s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.home:hover {
    color: #51B7CE;
}


a.curriculo {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.5s ease;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1em;
    font-size: 50;
}


a.curriculo:hover {
    color: #51B7CE;
}


a.sobre {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.6s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.sobre:hover {
    color: #51B7CE;
}

a.contato {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.6s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.contato:hover {
    color: #51B7CE;
}

.textoss1 p{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: -1em 70px;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}


.Column {
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 7em;
}


.Column p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    margin-top: 0.50em;
}


.Column h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.1;
    margin: 22px 0;
    font-size: 20px;
}


.Column h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.1;
    margin: 22px 0;
    font-size: 20px;
}


.lis li {
    color: #999999;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 1em;
    font-size: 1rem;
}


.Column-2 {
    margin-top: 10em;
    display: block;
    text-align: center;
}


.Column-2 h3 {
    text-align: center;
    font-weight: 500;
    font-size: 41px;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


.Column-2 p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}


.Column-2 a.btn {
    text-transform: uppercase;
    border-radius: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding: 17px 40px;
    background-color: #E79FB2;
    border-color: #E79FB2;
    color: #ffffff;
    border-width: 2px;
    margin-top: 5em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition:0.2s;
}


.Column-2 a.btn:hover {
    background-color: #51B7CE;
    border-color:  #51B7CE;
}


.Container-sobre hr {
    border: 0;
    border-top: 1px solid #666666;
    margin-top: 7em;
}


.footer {
    padding: 100px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.fade-in {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 0.5rem 0;
    color: #ffffff;
}


.dados p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
}


.contatos a.email {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    text-decoration: none;
}


.dados h4 {
    display: flex;
    justify-content: space-between;
}

.Nomes-cima  {
    margin-left: 5em;
}


.Nomes-cima p{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}



.Nomes-meio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2em;
}

.Container-sobre {
    background-color: #000000;
}