@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


a.home {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.5s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.home:hover {
    color: #51B7CE;
}


a.curriculo {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.5s ease;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1em;
    font-size: 50;
}


a.curriculo:hover {
    color: #51B7CE;
}


a.sobre {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.6s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.sobre:hover {
    color: #51B7CE;
}

a.contato {
    float: right;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0 34px;
    color: #E79FB2;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.6s ease;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
}


a.contato:hover {
    color: #51B7CE;
}

.Nomes-cima h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


.Nomes-cima p{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 1em;
}


.texto p {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}


.form {
    margin-top: 3em;
    margin-left: 5em;
}


.form input {
    position:relative;
    width: 250px;
    height:50px;
    margin-right: 4em;
    color: #999999;
    border-color: #000;
    font-family: 'Montserrat', sans-serif;
}

.form textarea {
    position:relative;
    width: 250px;
    height:50px;
    margin-right: 4em;
    color: #999999;
    border-color: #000;
    font-family: 'Montserrat', sans-serif;
}


.p p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    margin-top: 1em;
    margin-right: 50em;
    margin-left: 5em;
}


button.botaoo {
    margin-right: 50em;
    background-color: #E79FB1;
    border-color: #70c8d4;
    color: #ffffff;
    border-width: 0px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding: 17px 40px;
    transition:0.2s;
    margin-top: 2em;
}


button.botaoo:hover {
    background-color: #51B7CE;
}


.dados {
    display: block;
    text-align: left;
    position: relative;
}


.dados p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    margin-top: 0.50em;
}


.dados h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.1;
    margin: 22px 0;
    font-size: 20px;
}


.dados h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.1;
    margin: 22px 0;
    font-size: 20px;
}


.dados h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.1;
    margin: 22px 0;
    font-size: 20px;
}


.footer {
    padding: 100px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #000000;
}


.fade-in {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 0.5rem 0;
    color: #ffffff;
}


.dados p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
}


.contatos a.email {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    text-decoration: none;
}

.form input, textarea {
    background-color: #000000;
}

.invi.h1 {
    color: #000;
}